/* Basic styling for the card section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.card-section{
    font-family: 'Poppins', sans-serif;
    background-color: #e9e8e8;
    padding-top: 30px;
}

.card-section-container {
    width: 100%;
    padding: 25px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Card styling */
  .card {
    width:30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f9f9f9;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Circular logo style */
.card-logo img {
    background-color: #EAF5F2;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
  }

.card-logo img:hover{
    border: 1px solid #000;
}  
  
  /* Title style */
  .card-title {
    margin-top: 10px;
    font-size: 18px;
  }

  .card-title:hover{
    color: #5081F9;
  }

  .view-more-button{
    background-color: transparent;
    color:#5081F9;
    border: 1px solid #5081F9;
  }

  .view-more-button:hover{
    color: #f9f9f9;

  }
  
  /* Responsive design for mobile and tablet */
  @media (max-width: 768px) {
    .card {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }
  