/* Center the container and set maximum width */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding for mobile spacing */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* border-bottom: 2px solid #ccc; Optional border */
}

.header-left {
    max-width: 50%;
    margin-top: 50px;
}

.header-title {
    font-size: 2em;
    margin: 10px 0px;
    color: #333;
}

.header-text {
    font-size: 1em;
    color: #666;
}

.view-more-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more-button:hover {
    background-color: #0056b3;
}

/* Header.css */
.header-right {
    position: relative;
    display: inline-block;
}

.header-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 70%; /* Position above the image */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.header-right:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Responsive Design */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-left,
    .header-right {
        max-width: 100%;
        margin: 10px 0;
    }

    .header-title {
        font-size: 1.5em;
    }

    .header-text {
        font-size: 0.9em;
    }

    .view-more-button {
        width: 100%;
    }
}
