/* LogoCarousel.css */
.carousel-container {
    overflow: hidden;
    width: 100%;
    background-color: #E7F4EF;
    padding:5px 0;
    border-top: 1px solid #d1d1d1;/* Light border around the carousel */
    border-bottom: 1px solid #d1d1d1;
     /* Rounded corners */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    margin-top: 55px; /* Center the carousel and add top/bottom spacing */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: fit-content;
}

.carousel-slide {
    min-width: 25%; /* Each slide takes up 25% of the track width, showing 4 logos at a time */
    display: flex;
    min-width: calc(100% / 5);
    justify-content: center;
    align-items: center;
}

.carousel-logo { 
    max-width: 100px;
    max-height: 50px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.carousel-logo:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .carousel-logo {
        max-width: 120px;
        max-height: 60px;
    }
}

@media (max-width: 480px) {
    .carousel-logo {
        max-width: 100px;
        max-height: 50px;
    }
}
